nav {
	background-color: #282c34;
	width: 100%;
}

.navbar {
	z-index: 999;
	position: fixed;
	top: 0;
}

.nav-item {
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 10px;
	text-indent: 0px;
}

.form-control:focus {
	border-color:black;
	box-shadow: 0 0 0 0.1rem darkgray;
} 