@media screen and (max-width: 768px) {
	p, li, th, td, button {
		font-size: smaller;
		text-align: left;
	}
	.conditional {display: none;}
	.smallTitle {display: block;}
}

@media print {
	.noprint {
		display: none;
	}
}

ul {
	margin: 15px;
}

.table-subhead {
    background-color: darkgray;
    font-size: x-large;
    font-weight: bold;
}

.centered {
    display: flex;
    justify-content: center;
}